{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compaible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block corecss %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    {% endblock %}

    {% block corejs %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/060b88222d.js" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Astro Apparel {% block extra_title %}{% endblock %} </title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div class="row">
          <div class="col"></div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
              <a href="{% url 'home'%}" class="nav-link main-logo-link">
                <h2 class="logo-font text-black my-0" style="font-family: Orbitron, sans-serif;">Astro Apparel</h2>
              </a>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
            <form method="GET" action="">
              <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                  <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                    <span class="icon">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                  </button>
                </div>
              </div>    
            </form>  
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
              <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center">
                    <div><i class="fa-solid fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                  </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %} <!--If user is authenticated it will provide a link to their profile and a link to logout-->
                      {% if requeset.user.is_superuser %} <!--If user is authenticated and is a superuser it will provide them with a link to the Product Managment where they can make changes to the products-->
                        <a href="" class="dropdown-item">Product Management</a>
                      {% endif %}
                      <a href="" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account-logout' %}" class="dropdown-item">Logout</a>
                  {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a> <!--Allow users to register an account-->
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a> <!--Allow users to login to their accounts-->
                  {% endif %}
                </div>
              </li>
              <li class="list-inline-item">
                <a class="{% if grand_total %}text-info font-weight-bold{%else%}text-black{%endif%} nav-link" href=""> <!--If there is items in the cart the font will be bold-->
                  <div class="text-center">
                    <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                    <p class="my-0">
                      {% if grand_total %}
                        £{{ grand_total|floatformat:2}} <!--checks if the grand_total variable exists and displays the total formatted to 2 decimal places-->
                      {% else %}
                        £0.00
                      {% endif %}
                    </p> 
                  </div>
                </a>       
              </li>
            </ul>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>